@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




:root {
    --color-primary: #e08152a9;
    --color-secondary: #22485a;
    --color-alternative: #e8e8e7;
    --color-header: #BF6A3F;
}

@layer base {
    body {
        background-color: var(--color-primary);
        color: var(--color-alternative);
        text-transform: none;
    }

    h1 {
        font-family: "Damion", cursive !important;
        font-weight: 700;
        font-style: normal;
    }

    h2 {
        font-family: "Damion", cursive !important;
        font-weight: 700;
        font-style: normal;
        font-size: 1.5rem;
        color: var(--color-alternative);
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-style: normal;
    }
}