@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Rouge+Script&display=swap');



:root {
    --color-primary: #e08152a9;
    --color-secondary: #22485a;
    --color-alternative: #e8e8e7;
    --color-header: #BF6A3F;
}

@layer base {
    body {
        background-image: url('/src/assets/background.png');
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
        color: var(--color-alternative);
    }

    h1 {
        font-family: "Ballet", cursive;
        font-weight: 400;
        font-style: normal;
    }

    h2 {
        font-family: 'Pinyon Script', cursive;
        font-size: 1.5rem;
        color: var(--color-alternative);
    }

    p {
        font-family: "Ballet", cursive;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
}