@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');




:root {
    --color-primary: #e08152a9;
    --color-secondary: #22485a;
    --color-alternative: #e8e8e7;
    --color-header: #BF6A3F;
}

@layer base {
    body {
        background-color: var(--color-primary);
        color: var(--color-alternative);
        font-family: 'sans-serif' normal;
        text-transform: none;
        font-family: "Damion";
    }

    h1 {
        font-family: "Damion", cursive;
        font-weight: 400;
        font-style: normal;
    }

    h2 {
        font-family: "Damion", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
        color: var(--color-alternative);
    }
}